@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Pagina Inicial do projeto Web .Net <a href="https://docs.microsoft.com/aspnet/core" target="_blank" >Clique Aqui!</a>.</p>
</div>



<div class="texto">
<a href="https://www.youtube.com/" target="_blank" >Nosso Youtube!</a>
</div>

<style>
 .texto {
     text-align: center;
 }   
    </style>




 


